.footer-social {
    list-style-type: none;
}

.footer-social li{
    display: inline;
    font-size: 2.4em;
}

.footrow{
    padding: 7rem;
}

.footer-social a:hover{
    color: #FA5A46;
}

.footer-social a {
    color: #252A2D;
}

footer {
    background: rgb(231, 227, 227);
}

.footer-copyright {
    background: #252A2D;
    color: white;
}

.navbar-toggler, .navbar-toggler-right, .collapsed, .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }

.col-centered{
    float: none;
    margin: 0 auto;
    margin-bottom: 2%;
}
